body {
    font-size: 14px;
}
.logoPng {
    width: 20.88%;
    /*margin: 122px 0 37px;*/
}
.loginBox {
    width:400px;
    padding: 13px 24px 6px;
}
.loginBox>div {
    margin-bottom: 20px;
}
.loginBg>div {
    padding: 160px 0;
}
.rowCode>div{
    height: 40px;
}
.registerBox {
    width: 600px;
}
.registerBox input {
    width: 80%;
}
.registerBox>div {
    margin-bottom: 20px;
}
.phone_top {
    margin-bottom: 20px;
}
.phone_top>input,.phoneInput,.phoneCode,.newPwd,.loginBox input,.registerBox input {
    height: 40px;
}
.phone_top>img,.getCode,.keep {
    height: 40px;
}
.head_div {
    height: 40px;
    font-size: 18px;
}
.index_box {
    margin-top: 40px;
}
.listIcon {
    display: none;
}
.seaIcon {
    width: 124px;
    margin: 0 30px;
}
.head_right button {
    width: 186px;
    height: 30px;
}
.closeBtn {
    width:120px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}
.closeBtn>img {
    width: 21px;
    height: 24px;
}
.left_menu {
    width: 10%;
    text-align: center;
    background: #407DE1;
    color: #fff;
    display: block;
}
.left_menu>p {
    height: 75px;
    border-bottom: 1px #fff solid;
    line-height: 75px;
}
.content_show {
    width: 90%;
    padding: 27px 30px;
    box-sizing: border-box;
}
.content_wrap {
    width: 90%;
}
.index_list>div {
    width: 24%;
}
.index_list_top{
    position: relative;
    width: 100%;
    height: 90px;
    padding: 3px 7px;
    box-sizing: border-box;
}
.index_list_top>div {
    display: flex;
    align-items: flex-start;
}
.index_list_top>div>img {
    width: 16px;
    height: 13px;
}
.index_list>div>div>p {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.countP {
    font-size: 30px;
}
.writeInput,.writeCode,.person_btn,.keep_btn,.yanzhengCode {
    height: 24px!important;
}
.writeInput {
    width: 137px;
}
.yanzhengCode {
    margin: 0 10px;
}
.content_step {
    width: 80%;
}
.content_menu p {
    margin-right: 30px;
}
.team_list li {
    border-bottom: 1px #999 solid;
    display: flex;
    align-items: center;
    line-height: 30px;
}
.team_list span {
    display: inline-block;
    width: 12%;
}
.search_content {
    display: none;
}
.box_list>div {
    width: 200px;
}
.btn_div {
    margin: 53px 77px 0 25px;
}
.alertCall {
    left: 60%;
    top: 50%;
    margin-top: -40px;
    margin-left: -125px;
}