body {
    font-size: 14px!important;
}
.logoPng {
    width: 60%;
    margin-bottom: 20px;
}
.loginBox {
    width:300px;
    padding: 6px 14px 0;
}
.loginBox>div {
    margin-bottom: 6px;
}
.rowCode>div {
    height: 24px;
}
.registerBox {
    width: 300px;
}
.registerBox>div {
    margin-bottom: 15px;
}
.phone_top {
    margin-bottom: 12px;
}
.phone_top>input,.phoneInput,.phoneCode,.newPwd,.loginBox input,.registerBox input {
    height: 24px;
}
.phone_top>img,.getCode,.keep {
    height: 30px;
}
.head_div {
    height: 24px;
    font-size: 12px;
}
.index_box {
    margin-top: 24px;
}
.listIcon {
    width: 20px;
    margin: 0 9px;
}
.seaIcon {
    width: 56px;
    margin: 0 9px 0 0;
}
.head_right button {
    width: 72px;
    height: 18px;
}
.closeBtn {
    width:50px;
    height:24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
}
.closeBtn>img {
    width: 10px;
    height: 12px;
}
.content_show {
    width: 100%;
    padding: 10px;
}
.content_wrap {
    width: 100%;
    padding: 10px;
}
.index_list>div {
    width: 48%;
    margin-bottom: 20px;
}
.index_list_top{
    position: relative;
    width: 100%;
    height: 150px;
    padding: 6px 8px;
    box-sizing: border-box;
}
.index_list_top>div {
    display: flex;
    align-items: flex-start;
}
.index_list_top>div>img {
    width: 16px;
    height: 13px;
}
.index_list>div>div>p {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.countP {
    font-size: 50px;
}
.writeInput,.writeCode,.person_btn,.keep_btn,.yanzhengCode,.yanzhengInput {
    height: 20px!important;
}
.writeInput {
    width: 100px;
}
.yanzhengCode {
    margin: 20px 23% 0;
}
.content_step {
    width: 100%;
}
.content_menu p {
    margin-right: 12px;
}
.team_list li {
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.team_list span:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
}
.team_list span {
    display: block;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px #999 solid;
    text-align: right;
    padding: 5px;
    box-sizing: border-box;
}
.team_head,.pageCount {
    display: none;
}
.box_list>div {
    width: 100%;
}
.left_menu {
    width: 40%;
    text-align: center;
    background: #407DE1;
    color: #fff;
    position: fixed;
    top: 24px;
    left: -50%;
    z-index: 10;
}
.left_menu>p {
    height: 40px;
    border-bottom: 1px #fff solid;
    line-height: 40px;
}
.alertCall {
    left: 50%;
    top: 50%;
    margin-top: -40px;
    margin-left: -125px;
}
.loginBox>div>p {
    margin-bottom: 0;
}