* {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style-type: none;
}
a {
    text-decoration: none!important;
    cursor: pointer;
}

html{font-size: 62.5%;min-width: 320px;}
body {
    color: #333;
    min-width: 320px;
}
input {outline: none}
button {
    border: none;
    outline: none;
}
.loginBg {
    width: 100%;
    min-height: 100vh;
    background: url("../img/login.png") 0 0 no-repeat;
    background-size: cover;
    text-align: center;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginBox {
    background:rgba(255,255,255,1);
    box-shadow:5px 7px 12px 0px rgba(22,28,104,0.45);
    opacity:0.8;
    border-radius:5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginBox>div>p {
    text-align: left;
}
.rowCode>div {
    width: 100%;
    display: flex;
}
.code {
    margin-left: 20px;
}
.rowCode>p {
    font-size: 12px;
    margin: 10px 0 0;
}
.loginBtn {
    width: 100%;
    height: 40px;
    background: #6494E2;
    color: #fff;
}
.forgetPwd {
    font-size: 12px;
    color: #6494E2;
    text-align: right;
    margin-top: 10px;
}
.registerBox {
    background:rgba(255,255,255,1);
    box-shadow:5px 7px 12px 0px rgba(22,28,104,0.45);
    opacity:0.8;
    border-radius:5px;
    margin: auto;
    padding: 10px 20px;
}
.registerBox>p {
    font-size: 18px;
    font-weight: bold;
}
.registerBox>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.registerBox input {
    width: 63%;
}
.findP {
    font-size: 18px;
    font-weight: bold;
}
.phoneRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.phoneInput {
    width: 42%;
}
.yzm {
    width: 20%;
}
.phone_top{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.phone_top>input {
    width: 50%;
}
.phone_top>img {
    width: 40%;
}
.phoneCode {
    width: 24%;
    float: left;
    margin-right: 10px;
}
.getCode {
    width:120px;
    background: rgba(100,148,226,1);
    color: #fff;
    float: left;
}
.newPwd {
    width: 100%;
}
.keep {
    background: rgba(100,148,226,1);
    color: #fff;
    margin-bottom: 10px;
}
.head_div {
    width: 100%;
    background: #363636;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
.head_left {
    color: #fff;
    display: flex;
    align-items: center;
}
.head_left img {
    height: 48%;
}
.head_right {
    display: flex;
    align-items: center;
}
.head_right button {
    background:rgba(161,161,161,1);
    border-radius:5px;
}
.closeBtn {
    background:rgba(232,65,70,1);
}
.left_menu {
    min-height: 100vh;
}
.left_menu a {
    color: rgba(255,255,255,.7);
}
.left_menu a:hover {
    color: #fff!important;
    text-decoration: none;
}
.index_box {
    display: flex;
    flex-wrap: wrap;
}
.index_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.index_list_bottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.index_list_bottom>button {
    width: 48%;
    color: #fff;
    height: 21px;
    background: rgb(91,144,230);
    border-radius: 3px;
}
.colorWhite {
    color: rgba(255,255,255,1)!important;
}
.bg1 {
    background: rgb(91,144,230);
}
.colorBlue {
    color: rgb(91,144,230);
}
.bg2 {
    background: #DCE9FF;
}
.bg3 {
    background: #FFCCCE;
}
.colorRed {
    color: #E84146;
}
.content_box {
   margin-top: 32px;
}
.content_box>p {
    color: #fff;
    height:25px;
    background:rgba(100,148,226,1);
    line-height: 25px;
    padding-left: 15px;
    box-sizing: border-box;
    margin-bottom: 0;
}
.content_box>ul {
    border: 1px #6494E2 solid;
}
.content_box li {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #6494E2 solid;
    box-sizing: border-box;
    padding: 0 10px;
}
.content_box li:nth-last-child(1){
    border: none;
}
.content_box li>span {
    width: 20%;
    display: inline-block;
    text-align: left;
}
.pageNum {
    text-align: right;
    margin: 10px;
}
.pageNum a,.pageCount a,.pageCount a:hover,.pageNum a:hover {
    color: #333;
}
.pageNum>input,.pageCount>input {
    width: 40px;
}
.pageCount {
    text-align: left;
    margin: 10px;
}

/*个人中心*/
.content_step {
    padding-bottom: 60px;
}
.smallSpan {
    display: block;
}
.content_step>p {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 8px;
    border-bottom: 1px #B5B5B5 solid;
}
.content_step ul {
    margin-bottom: 0;
}
.content_step li {
    display: flex;
    padding: 10px 0;
    flex-wrap: wrap;
}
.im_div {
    width: 23%;
    text-align: left;
}
.im_div>span{
    font-weight: bold;
}
.writeCode{
    width: 52px;
    margin: 0 5px;
}
.yanzhengInput {
    width: 52px;
}
.yanzhengCode {
    width: 120px;
}
.yanzhengCode img {
    width: 52px;
    height: 100%;
    margin-left: 4px;
}
.person_btn {
    width: 65px;
    background:rgba(100,148,226,1);
    border:1px solid rgba(181,181,181,1);
    color: #fff;
    font-size: 10px;
}
.keep_btn {
    width:65px;
    background:rgba(100,148,226,1);
    border:1px solid rgba(181,181,181,1);
    color: #fff;
}
.content_menu {
    display: flex;
    justify-content: space-between;
    height: 26px;
    align-items: center;
    background: #C0D8FF;
    padding: 0 10% 0 4%;
}
.content_menu>div {
    display: flex;
    align-items: center;
}
.content_menu p {
    margin-bottom: 0;
    color: #6494E2;
    cursor: pointer;
}
.activeP {
    color: #3167C0!important;
}
.add {
    width:14px;
    height:14px;
    background: #3167C0;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 14px;
    margin-left: 5px;
}
.team_head {
    padding: 10px 5px;
    display: flex;
    border-bottom: 1px #999 solid;
}
.team_head >span {
    display: inline-block;
    width: 12%;
}
.search_box {
    height: 20px;
    display: flex;
}
.search_box input {
    width: 70%;
}
.search_box img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.search_content {
    text-align: center;
    margin: 20px 0;
}
.search_content input {
    width: 80%;
    height: 30px;
}
.search_content img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.jh {
    width:47px;
    height:20px;
    background:rgba(232,65,70,1);
    border-radius:3px;
    color: #fff!important;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}
.jh:hover {
    color: #fff!important;
    text-decoration: none!important;
    cursor: pointer;
}
.btn_div {
    display: flex;
    justify-content: space-between;
}
.buy {
    width:80px;
    height:33px;
    background:rgba(100,148,226,1);
    border-radius:3px;
    color: #fff;
}
.buy+p {
    font-size:14px;
    font-weight:bold;
    margin-top: 14px;
}
.cancel {
    width:80px;
    height:33px;
    background:rgba(232,65,70,1);
    border-radius:3px;
    color: #fff;
}
.cancel+p {
    font-size:10px;
    margin-top: 8px;
}
.content_wrap_box {
    margin-bottom: 14px;
}
.box_top {
    height: 20px;
    background: rgba(100,148,226,1);
    color: #fff;
    padding-left: 14px;
    display: flex;
    align-items: center;
    font-size:10px;
}
.sanjiao {
    width: 0;
    height: 0;
    display: inline-block;
    border-left: 7px #B8D2FC solid;
    border-bottom: 7px transparent solid;
    border-top: 7px transparent solid;
    margin-right: 5px;
}
.dsanjiao {
    width: 0;
    height: 0;
    display: inline-block;
    border-left: 7px transparent solid;
    border-right: 7px transparent solid;
    border-top: 7px #B8D2FC solid;
    margin-right: 5px;
}
.box_list {
    padding: 10px 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.box_list>div {
    border: 1px #6494E2 solid;
    margin-bottom: 10px;
}
.list_up {
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    color: #fff;
    background: #6494E2;
}
.list_up>p {
    margin-bottom: 0;
}
.sevenFont {
    font-size: 10px;
}
.colorYellow {
    color: #F9ED87;
}
.list_content {
    padding: 10px;
}
.list_content>p {
    display: flex;
    justify-content: space-between;
}
.fontWeight {
    font-weight: bold;
}
.upload_box {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    justify-content: space-between;
}
.upload_div {
    width: 80px;
    height: 80px;
    background: #CECECE;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
.upload_div>img {
    width: 30px;
    height: 30px;
}
.confirm {
    width:80px;
    height:20px;
    border-radius:2px;
    color: #fff;
}
.bgBlue {
    background:rgba(100,148,226,1);
}
.bgGary {
    background: #CECECE;
}
.confirm_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}
.backdrop {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    display: none;
}
.alertCall {
    position: fixed;
    width: 250px;
    z-index: 2;
    background:rgba(247,247,247,1);
    box-shadow:2px 2px 10px 2px rgba(54,54,54,0.4);
}
.call,.setout,.maichu {
    display: none;
}
.alertCall>div:nth-child(1){
    border-bottom: 1px #999 solid;
    display: flex;
    justify-content: flex-end;
}
.closeX {
    width: 40px;
    height: 20px;
    background: #E84146;
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin-bottom: 0!important;
}
.alertCall_bottom{
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.alertCall_down {
    padding: 16px;
}
.alertCall_down p {
    margin-bottom: 0;
}
.numInput {
    width: 100%;
}
.countInput {
    width: 70px;
    margin-right:64px;
}